body { 
	margin: 0; 
	background-color: #f0f0f0;
	color: #2A292A;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica;
	overflow:hidden;
}
.navBar{
	display:block;
	margin-right:-1px;
	text-align: center;
	width:100%;
	background-color: #E6E4E6;
	font-size:1.2em;
	height:3em;
	border-bottom: #B8B8B8 1px solid;
}
.navElement{
	display: inline-block;
	float:right;
	height:100%;
	text-align: center;
}

.navBar img{
	height: 2em;
}

.sidebar {
	position: absolute;
	width: 17%;
	height:100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #ECECEC;
    border-right: #B8B8B8 1px solid;
    border-left: #B8B8B8 1px solid;
}
.sidebar ul{
	padding:0;
	margin:0;
	list-style-type: none;
	cursor: default;
	font-size: 1em;
	overflow: scroll;
}
.sidebar ul li{
	padding:0.2em;
	background: rgba(0,0,0,0);
	padding-left:1em;
}
.sidebar ul li:nth-child(odd) { 
	background: rgba(0,0,0,0.02); 
}

.sidebar ul li:focus{
	background: #69A0E1;
	outline: 0;
	color:white;
}

#rightbar{
	right:0;
	text-align: center;
}

#editor {
	position:absolute;
	margin:0;
	padding:0;
	left:17%;
	width:66%;
	height:100%;
	text-align: center;
}
#scene {
	display:block;
	width:100%;
	height:70%;
	cursor:pointer;
	margin:1px;
}
#sceneOptions{
	display:block;
	width:100%;
	height:30%;
	margin-top:-2.5em;
}

.title{
	display:block;
	width: 100%;
	line-height:2em;
	text-align: center;
	vertical-align: middle;
	border-bottom: #B8B8B8 2px solid;
	cursor: default;
}

.subTitle{
	display:block;
	padding-left:1em;
	line-height:2em;
	text-align: left;
	margin-left:-1px;
	margin-top:-1px;
	border: #B8B8B8 1px solid;
	border-right:none;
	cursor: default;
	color: #7F7F7F;
	background-color: #F3F3F3;
}

button{
	position:relative;
    font-size: 0.8em;
    border: none;
    cursor: pointer;
    outline:none;
    height:100%;
    width:auto;
    text-align: center;
    display:inline-block;
    background: rgba(0,0,0,0);
}

#sidebar img{
	height: 65%;
}

#sidebar button {
	font-size:1.2em;
	height:3em;
	text-align: center;
	padding-left:0.5em;
    padding-right:0.5em;
}

button:hover, #dropBtn:focus {
	background-color: #69A0E1;
	color: white;
}

button img:hover{
	opacity: 1;
}

button p {
	margin:0;
	font-size:0.6em;
	width: 4em;
	display:block;
}

#rightMode{
	width: 100%;
	/*min-width:10em;*/
	margin:0;
	padding:0;
	margin-left:-1px;
	display:block;
	border: #B8B8B8 1px solid;
	border-right:none;
	cursor: default;
	/*color: #7F7F7F;*/
	background-color: #F3F3F3;
}

.rightmodeBtn{
	width: 50%;
	display:inline-block;
	border:none;
	outline:none;
	margin:none;
	padding:0;
	text-align: center;
	cursor: pointer;
}

#rightMode div p{
	margin: 0.4em;
	margin-top:0;
	font-size: 0.7em;
}

#rightMode img{
	margin-top:0.4em;
	height:1.4em;
}

#editSelectedBtn{
	background: #69A0E1;
	color: white;
}

#editWorld{
	display:none;
}

.rightContainer{
	vertical-align: top;
	text-align: left;
	font-size:0.9em;
}

.rightContainer .subTitle{
	font-weight:bold;
}

.rightContainer p{
	margin: 0;
	margin-left:0.5em;
	font-size:1em;
	position:relative;
	display:inline-block;
	margin-top:0.7em;
	vertical-align: top;
}

.rightContainer label{
	font-size: 0.7em;
	margin-top:0.3em;
	margin-left:1em;
	display:inline-block;
	text-align: center;
}

.rightContainer input{
	width:4em;
	display:block;
}

.rightContainer select{
	margin-left: 1em;
}

.rightContainer .low{
	margin-top:1em;
}

.rightContainer .checkbox{
	display:inline-block;
	margin:0;
	width:auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	font-size: 0.8em;
	font-family: helvetica;
	text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: black;
    padding: 0.5em 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#dropBtn {
	width: 10em;
	border-left: white 1px solid;
}

#play_edit_btn{
	float:left;
	border-left: none;
	border-right: white 1px solid;
}

#sceneOptions .subTitle{
	text-align: center;
	border-left:none;
}

#info {
	background: rgba(255,255,255,0.5); 
	text-align: center;
	position: absolute;
	top: 3em; width: 50%;
	left: 25%;
	padding: 15px;
	z-index:100;
	opacity: 0;
}

.spacer{
	height: 2.5em;
}

label{
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
  cursor: default;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
  cursor: default;
}

